<section class="education-section">
    <div class="main-container">
      <h1 data-aos="fade-right" data-aos-duration="1500" style="margin-bottom: 1rem; font-weight: bold; "><span>Meine</span> Ausbildung</h1>
      <div class="education-container" data-aos="fade-up" data-aos-duration="1500">
        <div class="education-item">
          <div class="education-year">2019</div>
          <div class="education-details">
            <h3 class="education-degree">Abitur in Mathematik und Technik</h3>
            <p class="education-institution">Hannibal-Ariena Gymnasium</p>
            <p class="education-description">Ich habe mein Abitur erfolgreich mit starken akademischen Leistungen und einer lobenswerten Gesamtnote abgeschlossen</p>
          </div>
        </div>
        <div class="education-item">
          <div class="education-year">2020-2022</div>
          <div class="education-details">
            <h3 class="education-degree">Integrierter Vorbereitungszyklus (MPI)</h3>
            <p class="education-institution">Fakultät für Wissenschaften von Tunis</p>
            <p class="education-description">Intensive Ausbildung in Mathematik, Physik und Informatik zur Vorbereitung auf das Ingenieurstudium</p>
          </div>
        </div>
        <div class="education-item">
          <div class="education-year">2022-2025</div>
          <div class="education-details">
            <h3 class="education-degree">Nationaler Ingenieurabschluss in Software Engineering und Informationssystemen</h3>
            <p class="education-institution">TEK-UP Universität</p>
            <p class="education-description">Ausbildung in Software Engineering und Informationssystemen mit Spezialisierung auf Softwareentwicklung, Cloud-Architektur und Management komplexer Projekte</p>
          </div>
        </div>
      </div>
    </div>
</section>
