.col {
    background-color: #0a192f;
}
.education-section {
    border-radius: 0px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    background-color: #0a192f;
    padding-bottom: 50px;
  }

  h1 span{
    color: #077b32;
    text-shadow: 0  0 10px #077b32;
}
h1{
    font-size: clamp(2rem, 1rem + 3vw, 4rem);
    line-height: 1.2;
    text-shadow: 0  0 10px white;
    color: white;
    margin-left: 4rem;
    padding-top: 2rem;
}

  .section-title {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
  }

  .education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 3rem 1rem;
    padding-bottom: 50px;
  }

  .education-item {
    width: 100%;
    max-width: 400px;
    min-width: 280px;
    flex: 1 1 300px;
    border: 1px solid #f9f9f934;
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    background-color: #f9f9f921;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  }

  .education-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
  }

  .education-year {
    font-size: clamp(1.5rem, 1rem + 2vw, 2rem);
    font-weight: 600;
    color: #077b32;
    margin-bottom: 15px;
    text-shadow: 0  0 10px #077b32;
  }

  .education-details {
    font-size: 1rem;
    color: #ffffff;
  }

  .education-degree {
    font-size: clamp(1rem, 0.8rem + 1vw, 1.3rem);
    line-height: 1.5;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
  }

  .education-institution {
    font-style: italic;
    color: #7f8c8d;
    font-size: 1rem;
  }

  .education-description {
    margin-top: 10px;
    line-height: 1.5;
    font-size: clamp(0.85rem, 0.7rem + 0.5vw, 1rem);
  }


  @media (max-width:1060px) {
    h1{
        font-size: clamp(1.8rem, 1rem + 2vw, 3rem);
        color: white;
        margin-left: 1rem;
        text-align: center;
    }
    .education-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 2rem 1rem 50px 1rem;
    }
    .education-item {
      max-width: 350px;
    }
  }

@media (max-width:768px) {
    h1{
        font-size: clamp(1.5rem, 1rem + 2vw, 2rem);
        margin-left: 0;
        text-align: center;
        padding: 1rem;
    }
    .education-container{
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      padding-bottom: 50px;
    }
    .education-item {
      width: 100%;
      max-width: 90%;
      margin: 10px 0;
    }
}

@media (max-width:480px) {
    h1{
        font-size: 1.5rem;
        padding: 1rem 0.5rem;
    }
    .education-item {
      padding: 1rem;
      max-width: 95%;
    }
    .education-degree {
      font-size: 1rem;
      margin-bottom: 10px;
    }
    .education-year {
      font-size: 1.3rem;
    }
}
