<section class="education-section">
  <div class="main-container">
    <h1 data-aos="fade-right" data-aos-duration="1500" style="margin-bottom: 1rem; font-weight: bold;">
      <span>My</span> Certifications
    </h1>

    <div class="education-container" data-aos="fade-up" data-aos-duration="1500">

      <!-- AWS Certification -->
      <div class="education-item" tabindex="0">
        <div class="education-card">
          <div class="education-front">
            <div class="education-year">AWS Certified Cloud Practitioner</div>
            <div class="education-details">
              <h3 class="education-degree"></h3>
              <p class="education-institution">Amazon Web Services </p>
              <p class="education-description">
                Validates foundational, high-level understanding of AWS Cloud, services, and terminology.
              </p>
            </div>
          </div>
          <div class="education-back aws-bg" aria-hidden="true"></div>
        </div>
      </div>

      <!-- Terraform Certification -->
      <div class="education-item" tabindex="0">
        <div class="education-card">
          <div class="education-front">
            <div class="education-year">AWS Certified Solutions Architect – Associate (SS03)</div>
            <div class="education-details">
              <h3 class="education-degree"></h3>
              <p class="education-institution">Amazon Web Services</p>
              <p class="education-description">
                AWS architecture, scalable systems, high availability, fault tolerance, EC2, S3, RDS, VPC, IAM, CloudFront, ELB, service selection, security controls, cost optimization, performance optimization.              </p>
            </div>
          </div>
          <div class="education-back terraform-bg" aria-hidden="true"></div>
        </div>
      </div>

      <!-- Red Hat Certification -->
      <div class="education-item" tabindex="0">
        <div class="education-card">
          <div class="education-front">
            <div class="education-year">Oracle Certified Associate, Java SE 8 Programmer (OCA Java 8)</div>
            <div class="education-details">
              <h3 class="education-degree"></h3>
              <p class="education-institution">Oracle</p>
              <p class="education-description">
              Java basics, OOP, data types, control structures, exceptions, APIs, Java SE 8, lambdas, streams, efficient code , problem solving              </p>
            </div>
          </div>
          <div class="education-back redhat-bg" aria-hidden="true"></div>
        </div>
      </div>

    </div>
  </div>
</section>
