.stage-cube-cont {
    width: 50%;
    height: 100%;
    top: 5rem;
    margin-bottom: 50%;
    margin-left: 0;
    position: relative;
    left: 5rem;
  }

  .title{
      margin-top: 3rem;
      margin-bottom: 3rem;
  }
  .cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
  }

  .cubespinner div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
  }
  h1{
    font-size: clamp(1.5rem, 1rem + 2vw, 2.5rem);
    font-weight: 600;
    margin-bottom: 2rem;
  }
  h1 span {
    color: #077b32;
    text-shadow: 0 0 10px #077b32;
  }

  .content {
    padding: 2rem;
  }

  .content p {
    font-size: clamp(0.9rem, 0.8rem + 0.5vw, 1rem);
    line-height: 1.7;
  }

  .cubespinner .face1 {
    transform: translateZ(100px);
    color: #dd0031;
  }

  .cubespinner .face2 {
    transform: rotateY(90deg) translateZ(100px);
    color: #f06529;
  }

  .cubespinner .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    color: #28a4d9;
  }

  .cubespinner .face4 {
    transform: rotateX(180deg) rotateZ(270deg) translateZ(100px);
    color: #5ed4f4;
  }

  .cubespinner .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    color: #efd81d;
  }

  .cubespinner .face6 {
    transform: rotateX(-90deg) translateZ(100px);
    color: #ec4d28;
  }

  @keyframes spincube {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      transform: rotateY(-90deg);
    }
    33% {
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      transform: rotateX(90deg);
    }
  }

  #text-zone {
    color: white;
    position: absolute;
    padding-top: 15%;
    left: 15%;
    top: 25%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
  }

  .espace {
    padding-top: 100px;
  }

  @media (min-width:884px) {

    .stage-cube-cont {
      width: 50%;
      height: 100%;
      top: 10rem;
      margin-bottom: 50%;
      margin-left: 0;
      position: relative;

    }

  }

  @media (max-width:884px) {
    h1{
      margin-bottom: 1rem;
      text-align: center;
    }

    .content {
      padding: 1rem;
      width: 90% !important;
    }

    .stage-cube-cont {
      width: 80%;
      left: 2rem;
    }

    .cubespinner div {
      width: 150px;
      height: 150px;
      font-size: 75px;
    }

    .cubespinner {
      transform-origin: 75px 75px 0;
      margin-left: calc(50% - 75px);
    }
  }

  @media (max-width:480px) {
    h1 {
      font-size: 1.5rem;
    }

    .content {
      padding: 0.75rem;
    }

    .content p {
      font-size: 0.85rem;
      padding-bottom: 1rem !important;
    }

    .stage-cube-cont {
      display: none;
    }
  }

  .col {
    background-color: #0a192f;
    min-height: 100vh;
    padding-bottom: 30px;
}
