<nav class="col">
    <div class="nav-container">
        <div class="logo" data-aos="zoom-in" data-aos-duration="1500">
            Bayrem <span>Boussaidi</span>
        </div>
        <div class="links">
            <div class="link" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100"><a routerLink="home">Startseite</a></div>
            <div class="link" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200"><a routerLink="about">Über mich</a></div>
            <div class="link" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300"><a routerLink="education">Ausbildung</a></div>
            <div class="link" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="400"><a routerLink="experience">Erfahrung</a></div>
            <div class="link" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="500"><a routerLink="skills">Fähigkeiten</a></div>
            <div class="link" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="600"><a routerLink="projects">Projekte</a></div>
            <div class="link" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="700"><a routerLink="certification">Zertifikate</a></div>
            <div class="link" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="700"><a routerLink="contact">Kontakt</a></div>
    </div>
  </div>

</nav>

<!-- Theme Toggle Button -->
<button class="theme-toggle" (click)="toggleTheme()" [title]="isDarkBlue ? 'Zu Schwarz wechseln' : 'Zu Dunkelblau wechseln'">
    🎨
</button>
